[submodule "naia-os"]
	path = projects/naia-os
	url = https://github.com/nextain/naia-os
[submodule "about.nextain.io"]
	path = projects/about.nextain.io
	url = https://github.com/nextain/about.nextain.io
[submodule "naia.nextain.io"]
	path = projects/naia.nextain.io
	url = https://github.com/nextain/naia.nextain.io
[submodule "aiedu.nextain.io"]
	path = projects/aiedu.nextain.io
	url = https://github.com/nextain/aiedu.nextain.io
[submodule "admin.nextain.io"]
	path = projects/admin.nextain.io
	url = https://github.com/nextain/admin.nextain.io
[submodule "cafelua.com"]
	path = projects/cafelua.com
	url = https://github.com/luke-n-alpha/cafelua-private
[submodule "project-any-llm"]
	path = projects/project-any-llm
	url = https://github.com/nextain/any-llm
[submodule "home.onmam.com"]
	path = projects/home.onmam.com
	url = https://github.com/nextain/www.onmam.com
[submodule "alpha-memory"]
	path = projects/alpha-memory
	url = https://github.com/nextain/alpha-memory
[submodule "onmam-adk"]
	path = projects/onmam-adk
	url = https://github.com/nextain/onmam-adk
[submodule "ref-cline"]
	path = projects/refs/ref-cline
	url = https://github.com/cline/cline
[submodule "ref-opencode"]
	path = projects/refs/ref-opencode
	url = https://github.com/anomalyco/opencode
[submodule "ref-moltbot"]
	path = projects/refs/ref-moltbot
	url = https://github.com/moltbot/moltbot
[submodule "ref-project-airi"]
	path = projects/refs/ref-project-airi
	url = https://github.com/moeru-ai/airi
[submodule "jikime-adk"]
	path = projects/refs/ref-jikime-adk
	url = https://github.com/jikime/jikime-adk
[submodule "ref-jikime-mem"]
	path = projects/refs/ref-jikime-mem
	url = https://github.com/jikime/jikime-mem
[submodule "ref-openclaw"]
	path = projects/refs/ref-openclaw
	url = https://github.com/qwibitai/nanoclaw
[submodule "docs-work-logs"]
	path = data-company/docs-work-logs
	url = https://github.com/nextain/docs-work-logs
[submodule "docs-nextain"]
	path = data-company/docs-nextain
	url = https://github.com/nextain/docs-nextain
[submodule "caretive-business"]
	path = data-company/caretive
	url = https://github.com/caretive-ai/docs-business
[submodule "docs-business"]
	path = data-business/docs-business
	url = https://github.com/nextain/docs-business
